.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: rgb(213, 89, 0);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    right: 0;
    border-radius: 20px;
}

.buttonContainers{
    position: absolute;
    width: 100vh;
    bottom: 0;
    text-align: center;

}

.buttonContainers svg{
    font-size: 4.5rem;

}

.conferenceView{

}