.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: rgb(164, 82, 24);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 10px;
}

.buttonContainers{
    position: absolute;
    width: 100vh;
    bottom: 0;
    text-align: center;

}

.buttonContainers svg{
    font-size: 3rem;

}

.conferenceView{
    display: flex;
    position: 10px;
    gap: 10px;


}

.conferenceView > video{
    width: 40vw;
    height: 20vh;
    min-height: 30vw;
    border-radius: 10px;
}

.chatRoom{
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    bottom: 10vh;
    padding-inline: 20px;
}
.chatContainer{
    position: relative;
    height: 100%;
}

.chattingArea{
    position: absolute;
    bottom: 0;
}